{% extends "base.html" %}
{% block title %} Add Team {% endblock %}

{% block content %}
<h1>Add Team</h1>

{% if get_flashed_messages() %}
  <ul>
    <li>{{ get_flashed_messages()[-1] }}</li>
  </ul>
{% endif %}

<form method="POST">
    <div class="form-group">
        <label for="Team">Team Name</label>
        <input type="text" class="form-control" id="Team" name="Team" required>
    </div>
    <div class="form-group">
        <label for="Abbreviations">Abbreviations</label>
        <input type="text" class="form-control" id="Abbreviations" name="Abbreviations">
    </div>
    <button type="submit" class="btn btn-success">Add Team</button>
</form>
{% endblock %}
