{% extends "base.html" %}
{% block title %} Add Player Season Info {% endblock %}

{% block content %}
<h1>Add Player Season Info</h1>

{% if get_flashed_messages() %}
  <ul>
    <li>{{ get_flashed_messages()[-1] }}</li>
  </ul>
{% endif %}

<form method="POST">
  <div class="form-group">
    <label for="Season_ID">Season ID</label>
    <input type="number" class="form-control" id="Season_ID" name="Season_ID" required>
  </div>

  <div class="form-group">
    <label for="Player_ID">Player ID</label>
    <input type="number" class="form-control" id="Player_ID" name="Player_ID" required>
  </div>

  <div class="form-group">
    <label for="League">League</label>
    <select class="form-control" id="League" name="League" required>
      <option value="NBA">NBA</option>
      <option value="ABA">ABA</option>
      <option value="BAA">BAA</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Team_ID">Team ID</label>
    <input type="number" class="form-control" id="Team_ID" name="Team_ID" required>
  </div>

  <div class="form-group">
    <label for="Position">Position</label>
    <select multiple class="form-control" id="Position" name="Position" required>
      <option value="G">Guard</option>
      <option value="C">Center</option>
      <option value="F">Forward</option>
      <option value="SG">Shooting Guard</option>
      <option value="F-C">Forward-Center</option>
      <option value="G-F">Guard-Forward</option>
      <option value="C-F">Center-Forward</option>
      <option value="PG">Point Guard</option>
      <option value="PF">Power Forward</option>
      <option value="F-G">Forward-Guard</option>
      <option value="SF">Small Forward</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Age">Age</label>
    <input type="number" class="form-control" id="Age" name="Age">
  </div>

  <div class="form-group">
    <label for="Experience">Experience</label>
    <input type="number" class="form-control" id="Experience" name="Experience">
  </div>

  <div class="form-group">
    <label for="MVP">MVP</label>
    <select class="form-control" id="MVP" name="MVP">
      <option value="True">Yes</option>
      <option value="False">No</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Add Player Season Info</button>
</form>
{% endblock %}
