<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
      />

      <title>{% block title %} Home {% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-targ="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link" id="homepage">Home</a>

                    <!-- Team tables dropdown menu -->
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="teamsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Teams
                        </a>
                        <div class="dropdown-menu" aria-labelledby="teamsDropdown">
                            <a href="/teams_dashboard" class="dropdown-item" id="players">Dashboard</a>
                            <a href="/teams" class="dropdown-item" id="players">Team List</a>
                            <a href="/team_season_info" class="dropdown-item" id="team_season_info">Team Season Info</a>
                            <a href="/team_season_stats" class="dropdown-item" id="team_season_stats">Team Season Stats</a>
                        </div>
                        
                    </div>


                    <!-- player tables dropdown menu -->
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="playersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Players
                        </a>
                        <div class="dropdown-menu" aria-labelledby="playersDropdown">
                            <a href="/players" class="dropdown-item" id="players">Player List</a>
                            <a href="/player_season_stats" class="dropdown-item" id="player_season_stats">Player Season Stats</a>
                            <a href="/player_season_info" class="dropdown-item" id="player_season_info">Player Season Info</a>
                        </div>
                        
                    </div>

                    <a href="/seasons" class="nav-item nav-link" id="seasons">Seasons</a>
                    <a href="/shot_stats" class="nav-item nav-link" id="shot_stats">Shots</a>
                </div>
            </div>
            <div class="ml-auto">
                {% if current_user.is_authenticated %}
                <span class="navbar-text mr-3">Hello, {{ current_user.username }}!</span>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="btn btn-success">Login</a>
                <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register</a>
                {% endif %}
            </div>
        </nav>        

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        ></script>


        <script
        type="text/javascript"
        src = "{{url_for('static', filename='index.js')}}"
        ></script>
    </body>
</html>
