{% extends "base.html" %}
{% block title %} Player Season Stats {% endblock %}

{% block content %}
<h1>Player Season Stats</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Season ID</th>
            <th>Player ID</th>
            <th>Games Played</th>
            <th>Performance</th>
            <th>TS Percent</th>
            <th>3P Attempt Rate</th>
            <th>Free Throw Rate</th>
            <th>Offensive Rebound %</th>
            <th>Defensive Rebound %</th>
            <th>Total Rebound %</th>
            <th>Assist %</th>
            <th>Steal %</th>
            <th>Block %</th>
            <th>Turnover %</th>
            <th>Usage %</th>
            <th>Offensive Win Shares</th>
            <th>Defensive Win Shares</th>
            <th>Total Win Shares</th>
            <th>Win Shares per 48</th>
            <th>Offensive Box Plus-Minus</th>
            <th>Defensive Box Plus-Minus</th>
            <th>Box Plus-Minus</th>
            <th>Value Over Replacement Player (VORP)</th>
        </tr>
    </thead>
    <tbody>
        {% for stats in stats %}
        <tr>
            <td>{{ stats.Season_ID }}</td>
            <td>{{ stats.Player_ID }}</td>
            <td>{{ stats.Games }}</td>
            <td>{{ stats.PER }}</td>
            <td>{{ stats.TS_Percent }}</td>
            <td>{{ stats.X3p_ar }}</td>
            <td>{{ stats.F_tr }}</td>
            <td>{{ stats.ORB_Percent }}</td>
            <td>{{ stats.DRB_Percent }}</td>
            <td>{{ stats.TRB_Percent }}</td>
            <td>{{ stats.AST_Percent }}</td>
            <td>{{ stats.STL_Percent }}</td>
            <td>{{ stats.BLK_Percent }}</td>
            <td>{{ stats.TOV_Percent }}</td>
            <td>{{ stats.USG_Percent }}</td>
            <td>{{ stats.OWS }}</td>
            <td>{{ stats.DWS }}</td>
            <td>{{ stats.WS }}</td>
            <td>{{ stats.WS_48 }}</td>
            <td>{{ stats.OBPM }}</td>
            <td>{{ stats.DBPM }}</td>
            <td>{{ stats.BPM }}</td>
            <td>{{ stats.VORP }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}