{% extends "base.html" %}
{% block title %} Player Season Stats {% endblock %}

{% block content %}
<h1>Player Season Stats</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Season ID</th>
            <th>Player ID</th>
            <th>Games Played</th>
            <th>Performance</th>
            <th>TS Percent</th>
            <th>3P Attempt Rate</th>
            <th>Free Throw Rate</th>
            <th>Offensive Rebound %</th>
            <th>Defensive Rebound %</th>
            <th>Total Rebound %</th>
            <th>Assist %</th>
            <th>Steal %</th>
            <th>Block %</th>
            <th>Turnover %</th>
            <th>Usage %</th>
            <th>Offensive Win Shares</th>
            <th>Defensive Win Shares</th>
            <th>Total Win Shares</th>
            <th>Win Shares per 48</th>
            <th>Offensive Box Plus-Minus</th>
            <th>Defensive Box Plus-Minus</th>
            <th>Box Plus-Minus</th>
            <th>Value Over Replacement Player (VORP)</th>
        </tr>
    </thead>
</table>
{% endblock %}