{% extends "base.html" %}
{% block title %} Players {% endblock %}

{% block content %}
<h1>Players</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Player</th>
            <th>Birth Year</th>
            <th>Num. Seasons</th>
            <th>First Season</th>
            <th>Last Season</th>
            <th>MVP</th>
            <th>Hall of Fame</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.Player_ID }}</td>
            <td>{{ player.Player }}</td>
            <td>{{ player.Birth_Year }}</td>
            <td>{{ player.Num_Seasons }}</td>
            <td>{{ player.First_Seas }}</td>
            <td>{{ player.Last_Seas }}</td>
            <td>{{ player.MVP_Total }}</td>
            <td>{{ player.HOF }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}