{% extends "base.html" %}
{% block title %} Teams {% endblock %}

{% block content %}
    <h1>Teams</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Team</th>
                <th>Abbreviations Used</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{team.team_id}}</td>
                    <td>{{team.team_name}}</td>
                    <td>{{team.team_abbreviation}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}